<a href="https://colab.research.google.com/github/gramelon2003/python-begin/blob/master/BTC3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Truy cập list

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

thay đổi giá trị phần tử list

In [2]:
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

xoá pt list

In [3]:
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

khởi tạo tuple

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)
print(tup1,tup2,tup3)

(50,) (1, 2, 3, 4, 5) ('a', 'b', 'c', 'd')

truy cập phần tử tuple

In [5]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Thay đổi giá trị phần tử

In [6]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
# Following action is not valid for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

xoá phần tử Tuple

In [7]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)
#tup is no longer exist

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

khởi tạo, truy cập dic

In [8]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])
#dict['Name']: Zara
#dict['Age']: 7

dict['Name']:  Zara
dict['Age']:  7

thay đổi giá trị phần tử dic

In [9]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])
#dict['Age']: 8
#dict['School']: DPS School

dict['Age']:  8
dict['School']:  DPS School

xoá phần tử dic

In [13]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear() # remove all entries in dict
del dict # delete entire dictionary

Khởi tạo set

In [14]:
# Same as {"a", "b", "c"}
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)
#Set:
#set(['a', 'c', 'b'])
#Set after adding:
#set(['a', 'c', 'b', 'd'])

Set:
{'c', 'b', 'a'}

Set after adding:
{'c', 'b', 'd', 'a'}

thêm phần tử set

In [17]:
# Creating a Set
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
     people.add(i)
print("\nSet after adding element:", end = " ")
print(people)
#People: {'Archi', 'Idrish', 'Jay'}
#Set after adding element: {1, 2, 3, 4, 5, 'Jay',
# 'Daxit', 'Archi', 'Idrish'}

People:
{'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 2, 3, 4, 5, 'Daxit', 'Jay', 'Archi', 'Idrish'}

bớt phần tử set

In [18]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)
#set(['Wed', 'Fri', 'Tue', 'Mon', 'Thu', 'Sat'])

{'Mon', 'Thu', 'Tue', 'Fri', 'Sat', 'Wed'}

xoá toàn bộ

In [19]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)
#Initial set
#{1, 2, 3, 4, 5, 6}
#Set after using clear() function
#set()

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

phép hợp

In [20]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)
#Union using union() function
#{'Jay', 'Karan', 'Idrish', 'Arjun', 'Archil'}
#Union using '|' operator
#{'Jay', 'Raju', 'Deepanshu', 'Idrish', 'Archil'}

Union using union() function
{'Archil', 'Karan', 'Idrish', 'Arjun', 'Jay'}

Union using '|' operator
{'Archil', 'Deepanshu', 'Idrish', 'Raju', 'Jay'}

phép giao

In [22]:
set1 = set()
for i in range(5):
     set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)
#Intersection using intersection() function
#{3, 4}
#Intersection using '&' operator {3, 4}

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

phép hiệu

In [24]:
set1 = set()
for i in range(5):
    set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)
#Difference of two sets using difference() function
#{0, 1, 2}
#Difference of two sets using '-' operator {0, 1, 2}

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

kiểm tra tập con tập cha

In [25]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)
#True
#True

True
True

lấy thời gian hiện tại

In [26]:
import time; # This is required to include time module.
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)
#Local current time : time.struct_time(tm_year=2013, tm_mon=7,
#tm_mday=17, tm_hour=21, tm_min=26, tm_sec=3,
#tm_wday=2, tm_yday=198, tm_isdst=0)

Number of ticks since 12:00am, January 1, 1970: 1632963973.704369
Local current time : time.struct_time(tm_year=2021, tm_mon=9, tm_mday=30, tm_hour=1, tm_min=6, tm_sec=13, tm_wday=3, tm_yday=273, tm_isdst=0)

định dạng thời gian

In [27]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)
#Local current time : Tue Jan 13 10:17:09 2009

Local current time : Thu Sep 30 01:07:06 2021

lấy lịch một tháng

In [28]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)
#Here is the calendar:
# January 2008
#Mo Tu We Th Fr Sa Su
#    1  2  3  4  5  6
# 7  8  9 10 11 12 13
#14 15 16 17 18 19 20
#21 22 23 24 25 26 27
#28 29 30 31

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31